RewriteEngine On

# Change the following domain to your main site if you want to redirect
# to the www subdomain
RewriteCond %{HTTP_HOST} ^example.com$ [NC]
RewriteRule ^(.*)$ http://www.example.com/$1 [R=301,L]

# Route everything through index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

# This prevents directly accessing certain file
# types in the file system directly through the browser
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} \.(php|json|xml|tss|log)$ [NC]
RewriteCond %{REQUEST_FILENAME} !index.php
RewriteRule ^(.*)$ - [L,R=404]

# 1 year = 31536000
# 1 Month cache for images
<filesMatch ".(jpg|jpeg|png|gif)$">
    Header set Cache-Control "max-age=2678400, public"
</filesMatch>

# Immutable cause hash changes file name
<filesMatch "(css|js)\.min\.[a-zA-z0-9]{6}\.(css|js)">
    Header set Cache-Control "max-age=31536000, immutable"
    Header set Content-Encoding gzip
</filesMatch>