RewriteEngine On

RewriteCond %{HTTP_HOST} ^(www.)?solleedevelopment.com$ [NC]
RewriteRule ^(.*)$ - [L,R=404]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
