

// http://www.workwithcolor.com/hsl-color-picker-01.htm?cp=96959D&ch=247-4-60&cb=050406,1B1B1D,2B2B31,414149,54535A,76767F,96959D,C4C3CB,ECECEF,FFFFFF
$grey-1: hsl(245, 14%, 2%);
$grey-2: hsl(245, 5%, 11%);
$grey-3: hsl(245, 7%, 18%);
$grey-4: hsl(245, 6%, 27%);
$grey-5: hsl(245, 4%, 34%);
$grey-6: hsl(245, 4%, 48%);
$grey-7: hsl(245, 4%, 60%);
$grey-8: hsl(245, 7%, 78%);
$grey-9: hsl(240, 9%, 93%);

// TODO: Replace the values below with your own values for your project

// http://www.workwithcolor.com/hsl-color-picker-01.htm?cp=BDD8EB&ch=204-53-83&cb=050406,063665,094172,0F4B80,185CA0,2570B1,2B85DA,3D96D1,6FABD3,BDD8EB
$primary-1: hsl(210, 89%, 21%);
$primary-2: hsl(208, 85%, 24%);
$primary-3: hsl(208, 79%, 28%);
$primary-4: hsl(210, 74%, 36%);
$primary-5: hsl(208, 65%, 42%);
$primary-6: hsl(209, 70%, 51%);
$primary-7: hsl(204, 62%, 53%);
$primary-8: hsl(204, 53%, 63%);
$primary-9: hsl(204, 53%, 83%);

// http://www.workwithcolor.com/hsl-color-picker-01.htm?cp=BD5800&ch=28-100-37&cb=FAC599,F4AC71,EE9953,F18832,EA7A1F,E27012,D8690E,C95F0D,BD5800,FFFFFF
$accent-1: hsl(28, 100%, 37%);
$accent-2: hsl(26, 88%, 42%);
$accent-3: hsl(27, 88%, 45%);
$accent-4: hsl(27, 85%, 48%);
$accent-5: hsl(27, 83%, 52%);
$accent-6: hsl(27, 87%, 57%);
$accent-7: hsl(27, 82%, 63%);
$accent-8: hsl(27, 85%, 70%);
$accent-9: hsl(27, 90%, 79%);