///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: (1/3) + s !default;

// Variables
// Variables http://paletton.com/
//$theme-color-1: ;
//$theme-color-2: ;
//$theme-color-3: ;
//$theme-color-4: ;
//$theme-color-5: ;


// Seperation
$seperation-border: 0; //3px solid white;

// Header
$header-color: white;

// Nav
$nav-color: default;

// Content
$bgcolor: white;
$text-color: black;

// Footer
$footer-bgcolor: white;
$footer-color: default; //black;
