/***** 4. CONTENT code ******/
body {
    margin: 0;
    background-color: $bgcolor;
    color: $text-color;
}
html, body {
    height:100%;
    padding: 0;
}
main.container {
    margin-top: 2rem;
    padding-bottom: 8em; /* Height of the footer element plus a bit of buffer */
    @media (min-width: 550px) {
        padding-bottom: 5em;
    }
    @media (min-width: 875px) {
        padding-bottom: 4em;
    }
}
