/********* 5. FOOTER code **********/
footer {
    display: block;
    padding: 1.5em;
    padding-top: 3px;
    background-color: $footer-bgcolor;
    color: $footer-color;
	/*height: 3em;*/
    box-sizing: border-box;
    text-align: center;
    border-top: $seperation-border;

    a {
        color: $footer-color;
    }
}

@media (min-width: 550px) {
    footer {
        text-align: center;
        padding: 1rem;
        padding-top: 3px;

        .container > div {
            display: inline-block;
            padding-bottom: 0.5em;
            width: 32%;

            &:not(:first-child) {
                margin-left:1%;
            }
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
            a {
                text-align: left;
                display: inline;
            }
        }
    }
}
