/****** 2. NAVIGATION code ******/
#menu {
    /*padding-top: 1ex;*/
    min-height: inherit;
    position: relative;
    text-align: center;

    ul {
        display: inline-block;
        min-height: inherit;
        padding: 0;
        margin: 0;
        line-height: 0;

        li {
          /*border-left: 1px solid white;*/
          display: inline-block;
          list-style: none;
          padding: 0 10px;
          min-height: inherit;
          line-height: 3;
          box-sizing: border-box;
          margin: 0;
        }
    }
    a, a:visited {
        color: $nav-color;
        display: inline-block;
        min-height: inherit;
        box-sizing: border-box;
    }

    a:hover {
        color: $nav-color;
    }
}
