// Variables
// Seperation
$seperation-border: 0; //3px solid white;

// Header
$header-color: white;

// Nav
$nav-color: default;

// Content
$bgcolor: white;
$text-color: black;

// Footer
$footer-bgcolor: white;
$footer-color: default; //black;
