$component-body-text-color: $grey-5 !default;

.c-body-text {
    color: $component-body-text-color;
    max-width: 25em;
    line-height: 1.75;
}

.c-body-text--wide {
    max-width: 35em;
}

.c-body-text--center {
    margin: {
        right: auto;
        left: auto;
    }
}