
// These are additional modifiers to the btn component from inuitcss-skeleton-plugin

.c-btn--icon-btn {
    padding: $inuit-global-spacing-unit-small;
}

.c-btn--input-height {
    height: 36px;
    padding: {
        top: 0;
        bottom: 0;
        left: $inuit-global-spacing-unit;
        right: $inuit-global-spacing-unit
    }
}