$header-color: white !default;
$header-text-color: inherit !default;
$seperation-border: 0 !default;

.c-header {
    background-color: $header-color;
    color:  $header-text-color;
    border-bottom: $seperation-border;
}
