
.c-messages {
    padding-top: 1rem;
}

    .c-messages__message {
        margin-bottom: 1rem;
        padding: 0.8rem;
        border: {
            width: 0.5rem;
            style: solid;
            radius: 2rem;
        }
    }

    .c-messages__message--success {
        border-color: #0D5D00;
        background-color: #64e36c;
        color: #0d7313;
    }
    .c-messages__message--error {
        border-color: #b31212;
        background-color: #ff9494;
        color: #8f0a0a;
    }

        /* Prevent FontAwesome icons from having too much margin */
        .c-messages__message .fa {
            margin: 0.5rem;
        }
