/* Site Nav */
/*
  Component for building the main site navigation
 */

/**
 * 1. Use the inuit-skeleton link color as the default color
 */

$site-nav-background-color: #fff !default;
$site-nav-color: $link-color !default; /* [1] */

$nav-breakpoint: tablet !default;

.c-site-nav {
    color: $site-nav-color;
    background-color: $site-nav-background-color;
}

.c-site-nav--side.c-site-nav--side {
    color: $site-nav-color;
    background-color: $site-nav-background-color;
}

    .c-site-nav__item {
        margin: 0;
        padding: $inuit-global-spacing-unit;

        .c-site-nav--compact & {
            padding: $inuit-global-spacing-unit-small;
        }

        .c-site-nav--side & {
            padding-bottom: 0;
        }
    }

        .c-site-nav__link {
            text-decoration: none;
            color: $site-nav-color;
        }
        .c-site-nav__link:hover {
            color: darken($site-nav-color, 5%);
            text-decoration: underline;
        }

        .c-site-nav__btn.c-site-nav__btn {
            text-align: right;

            @include mq($from: $nav-breakpoint) {
                display: none;
            }
        }

        .c-site-nav--hide\@break {
            display: none;

            @include mq($from: $nav-breakpoint) {
                display: inline-block;
            }
        }

.c-dropdown {
    position: relative;
}

.c-dropdown__text {
    display: flex;
    align-items: center;
}

.c-dropdown__cont {
    position: absolute;
    background-color: $site-nav-background-color;
    overflow: auto;
    z-index: 1;
    font-size: 100%;

    box-shadow: 0 4px 6px $primary-5;
    border: 1px solid rgba($primary-4, .2);
    margin-top: 0;
    right: $inuit-global-spacing-unit;
    border-radius: 6px;
    padding: $inuit-global-spacing-unit-tiny;

    .c-site-nav--compact & {
        right: $inuit-global-spacing-unit-small;
    }

    .c-site-nav--side & {
        position: relative;
        margin-bottom: 0;
        box-shadow: none;
        right: 0;
        border: 0;
    }
}
    .c-dropdown__item:first-child {
        padding-top: $inuit-global-spacing-unit-small;
    }

.c-dropdown__btn.c-dropdown__btn {
    display: inline-block;
    padding: {
        right: 5px;
        left: 5px;
    }
    vertical-align: text-bottom;
    cursor: pointer;
}
.c-dropdown__cont--hide {
    display: none;
}
.c-dropdown__btn.c-site-nav__link {
    vertical-align: bottom;
}