
$sticky-footer-breakpoint: tablet !default;

/* Apply this to body and html when using slidebars */
.c-sticky-footer__root--slidebar-fix {
    overflow: visible;
}

    /* This must be applied to another wrapper element underneath the body */
    .c-sticky-footer__wrapper {
        position: relative;
        min-height: 100vh;
    }

    /* Apply this to the wrapper when using slidebars */
    .c-sticky-footer__wrapper--slidebar-fix.c-sticky-footer__wrapper--slidebar-fix {
        height: auto;
    }

        .c-sticky-footer__prev-elem {
            padding-bottom: $inuit-global-spacing-unit * 4 + $inuit-global-spacing-unit-small;

            @include mq($from: $sticky-footer-breakpoint) {
                padding-bottom: $inuit-global-spacing-unit * 3 + $inuit-global-spacing-unit-small;
            }
        }

        .c-sticky-footer {
            width: 100%;
            position: absolute;
        	bottom: 0;
        	left: 0;
        }

        .c-sticky-footer--center {
            text-align: center;
        }

        .c-sticky-footer--fwork-style {
            padding: 1.5em;
            padding-top: 3px;
            background-color: $footer-bgcolor;
            color: $footer-color;
            border-top: $seperation-border;
            a {
                color: $footer-color;
            }
        }

        .c-sticky-footer--align-by-side {

            .c-sticky-footer__item {
                @include mq($from: $sticky-footer-breakpoint) {
                    &:first-child {
                        text-align: left;
                    }
                    &:last-child {
                        text-align: right;
                    }
                }
            }


        }
